// Remove all border radius
* {
    border-radius: 0 !important;
}

.page-heading {
    margin-top: 1em;
    font-size: 2em;
}

.filter-strip {
    margin-top: 2em;
}

.album-output {
    margin-top: 2em;
}

.btn {
    background-color: rgb(77, 104, 228);
    color: white;
}
